@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
body, html {
    margin: 0;
    padding:0;

}

main{
background: #0c0c0c;
color: white;
}

.view_content{
    height: 100vh;
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#2{
    background-color: #000 !important;
    color: whitesmoke;
}
#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 80pt;

    text-align: center;

    user-select: none;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    left:44%;
    bottom:-140%;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
html, body{
  background: #000;
  width: 100%;
  height: 100%;
}

/*Filter settings*/
.filter{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#filter_back{
  opacity: 0.3;
  background-image: linear-gradient(90deg, #000, #18a0c9);
}

#filter_front{
  opacity: 1;
  background-image: linear-gradient(90deg, rgba(255,120,25,0.3), rgba(0,0,0,0) 40%);
}

#light_source{
  width: 20px;
  height: 25px;
  position: absolute;
  top: 200px;
  right: 200px;
  background: #fff;
  border-radius: 10px;
  filter: blur(1px) drop-shadow(0 0 10px #f2cd91);
  transform-origin: center -500px;
  transform: rotate(-1deg);
  animation: light_source_movement 5s ease-in-out infinite;
}

#light_blur{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 55px;
  right: 55px;
  border-radius: 50%;
  filter: blur(100px);
  /*opacity: 0.2;*/
  animation: light_source_movement 5s ease-in-out infinite;
  background-image: radial-gradient(circle, rgba(169, 235, 245, 1),rgba(255,255,255,0));
}

#ray_1{
  position: absolute;
  width: 2000px;
  height: 2px;
  border-top: 4px solid #fff;
  border-bottom: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.8;
  filter: drop-shadow(0 0 10px #f2cd91);
  top: 207.5px;
  right: 207.5px;
  transform-origin: right;
  transform: rotate(3deg);

  animation: ray_1_movement 5s ease-in-out infinite;
}
#ray_2{
  position: absolute;
  width: 2000px;
  height: 2px;
  border-top: 4px solid #fff;
  border-bottom: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.8;
  filter:drop-shadow(0 0 10px #f2cd91);
  top: 207.5px;
  left: calc(100% - 207.5px);
  transform-origin: left;
  transform: rotate(3deg);

  animation: ray_2_movement 5s ease-in-out infinite;
}

#light_cord{
  position: absolute;
  right: 210px;
  top: -10px;
  width: 2px;
  height: 220px;
  opacity: 0.3;
  background-color: #000;
  animation: light_cord_movement 5s ease-in-out infinite;
}

@keyframes light_source_movement {
  0%{
      transform-origin: center -500px;
      transform: rotate(1deg);
  }
  50% {
      transform-origin: center -500px;
      transform: rotate(-1deg);
  }
  100%{
      transform-origin: center -500px;
      transform: rotate(1deg);
  }
}

@keyframes light_cord_movement {
  0%{
      /*
      Do not use -500px for transform-origin
      */
      transform-origin: center -280px;
      transform: rotate(1deg);
  }
  50% {
      transform-origin: center -280px;
      transform: rotate(-1deg);
  }
  100%{
      transform-origin: center -280px;
      transform: rotate(1deg);
  }
}

@keyframes ray_1_movement {
  0%{
      transform-origin: right -500px;
      transform: rotate(1deg);
      width: 2000px;
  }
  25%{
      height: 0;
      width: 4000px;
  }
  50% {
      transform-origin: right -500px;
      transform: rotate(-1deg);
      width: 2000px;
      opacity: 0.8;
  }
  75%{
      height: 2px;
      width: 1000px;
      opacity: 0.5;
  }
  100%{
      transform-origin: right -500px;
      transform: rotate(1deg);
      height: 2px;
      opacity: 0.8;
      width: 2000px;
  }
}
.content{
  background-color: #c3c3c333;
  width: 1220px;
  height: auto;
  margin: auto;
  font-size: 20px;
  padding: 20px;
  margin-top: 50px;
  color:#000;
}

@keyframes ray_2_movement {
  0%{
      transform-origin: left -500px;
      transform: rotate(1deg);
  }
  25%{
      height: 0;
      width: 4000px;
  }
  50% {
      transform-origin: left -500px;
      transform: rotate(-1deg);
  }
  75%{
      height: 2px;
      width: 1000px;
      opacity: 0.5;
  }
  100%{
      transform-origin: left -500px;
      transform: rotate(1deg);
  }
}